.products-section {
    padding: 5vh 10vw;
    /* height: 75vh;  */
}
.products-wrapper {
    height: 100%;
    
}
.products-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Shows 4 columns by default */
    gap: 2rem; /* Adjusts gap between items */
    cursor: pointer;
    width: 100%;
}
.product-img {
    width: 100%; /* Makes the image responsive */
    max-width: 15rem; /* Limits maximum width for larger screens */
    height: auto; /* Maintains aspect ratio */
}
.product {
    border: 1px solid rgb(189, 188, 188);
    padding: 1rem;
    font-size: 1.2rem;
    transition: transform 0.3s; /* Smooth hover effect */
    
}

.product:hover {
    transform: scale(1.05); /* Slightly enlarges on hover */
}

.add-cart-btn{
    padding: 1rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

/* Style for the category filter dropdown */
.category-filter {
  margin-bottom: 1rem;
}

.category-filter select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  transition: border-color 0.3s ease;
}

.category-filter select:focus {
  border-color: #007bff; /* Change to your preferred focus color */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Add a shadow on focus */
}

.category-filter option {
  padding: 0.5rem;
}

/* Styling for the select box container */
.select-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

@media (max-width:950px) {

    .products-block {
   
    grid-template-columns: repeat(2, 1fr); /* Shows 4 columns by default */
    gap: 2rem; /* Adjusts gap between items */
    cursor: pointer;
    width: 100%;
}
}
@media (max-width:1000px) {

    .products-block {
   
    grid-template-columns: repeat(2, 1fr); /* Shows 4 columns by default */
    gap: 2rem; /* Adjusts gap between items */
    cursor: pointer;
    width: 100%;
}
}
@media (max-width:750px) {

    .products-block {
   
    grid-template-columns: repeat(1, 1fr); /* Shows 4 columns by default */
    gap: 2rem; /* Adjusts gap between items */
    cursor: pointer;
    width: 100%;
}
}